.barMain{
    display: grid;
    grid-template-columns: 1fr 1fr;;
    background-color: #e9eadf;
    .bar-main-top{
        display: flex;
        flex-direction: column;
    }
    .bar-main-bottom{
        display: flex;
        flex-direction: column;
    }
}